* {
    padding:0;
    margin:0;
    list-style:none;
    border:0
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.background {
    width: 80%;
}

.image {
    width: 80%;
    position: absolute;
}

.content-text {
    text-align: center;
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 16px;
    width: 42%;
}

.title {
    margin-top: 16%;
}

.input-link, .input {
    margin-top: 5%;
    width: 55%;
}

.button {
    cursor: pointer;
    font-weight: unset;
    padding: 4px;
    color: #fff;
    font-weight: bold;
    background-color: #ff9100;
    font-size: 15px;
}

.form__group {
    padding: 15px 0 0;
    width: 80%;
    margin-left: 10%;
  }
  
  .form__field {
    font-family: inherit;
    width: 80%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #fff;
      font-weight:700;    
    }

    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
  }
  /* reset input */
  .form__field{
    &:required,&:invalid { box-shadow:none; }
  }

  .top-links {
      margin-top: 200px;
  }

  .list {
      text-align: center;
      display: flex;
      justify-content: space-between;
      justify-self: center;
  }